.main {
  /* height: 100vh; */
  width: 100vw;
  background-color: #dadada;
}

.container {
  max-width: 600px;
  width: 100vw;
  /* height: 100vh; */
  padding:120px 0 60px; 
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  position: relative;
}

.imageContainer{
  height: 30vh;
  width: 100%;
  position: relative;
}

.heading {
  color: #F96756;
  font-weight: 700;
  font-size: 24px;
  margin: 16px 0 8px;
}

.link {
  color: #F96756;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

.small {
  font-size: 12px;
}
.medium {
  font-size: 14px;
}

.makeImageCircular {
  border-radius:50%;
}